// шапка сайта

.header__mob-nav-icon {
  
    margin-top: 10px;
    margin-bottom: 10px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .header {
        border-bottom: 1px solid var(--cl-border);
    }
    .header__container {
        display: flex;
        align-items: center;
    }
    .header__mob-nav-icon {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        border-bottom: 1px solid var(--cl-border);
    }
    .header__container {
        display: flex;
        align-items: center;
    }

    .header__mob-nav-icon {
        display: none;
    }
}
