// приемущество на индексе
.advantage {
    display: flex;
    gap: 30px;
}
.advantage__title {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.advantage__text {
    color: var(--secondary-txt-cl);
}

.advantage__svg-box {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    border-radius: 4px;

    background-color: var(--bg-soc-logo-link);

    justify-content: center;
    align-items: center;
}
