// в шапке контакты


 .auth-nav {
    display: none;
 }

@media screen and (min-width: 768px) {
.auth-nav {
    display: block;
}


.auth-nav__item {
    position: relative;
}

.auth-nav__item:nth-child(1) {
    margin-bottom: 10px;
}

.auth-nav__link {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    color: var(--secondary-txt-cl);

    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14 / 12;
    letter-spacing: 0.02em;


    transition-property: color;
    transition-duration: var(--time-hov-foc);
    transition-timing-function: var(--time-cubic);
}

.auth-nav__envelope-svg,
.auth-nav__contact-svg {
    transition-property: fill;
    transition-duration: var(--time-hov-foc);
    transition-timing-function: var(--time-cubic);
}
.auth-nav__link:focus .auth-nav__envelope,
.auth-nav__link:hover .auth-nav__envelope {
    fill: var(--main-bg-cl);
}

.auth-nav__link:focus .auth-nav__contact,
.auth-nav__link:hover .auth-nav__contact {
    fill: var(--main-bg-cl);
}

.auth-nav__link:focus,
.auth-nav__link:hover {
    color: var(--main-bg-cl);
    outline: var(--outline-foc);
}
.auth-nav--indent {
    margin-left: auto;
    gap: 30px;
}

}


@media screen and (min-width: 1200px) {
.auth-nav {
    display: flex;
}


.auth-nav__item {
    position: relative;
}

.auth-nav__link {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    color: var(--secondary-txt-cl);

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: var(--time-hov-foc);
    transition-timing-function: var(--time-cubic);
}

.auth-nav__envelope-svg,
.auth-nav__contact-svg {
    transition-property: fill;
    transition-duration: var(--time-hov-foc);
    transition-timing-function: var(--time-cubic);
}
.auth-nav__link:focus .auth-nav__envelope,
.auth-nav__link:hover .auth-nav__envelope {
    fill: var(--main-bg-cl);
}

.auth-nav__link:focus .auth-nav__contact,
.auth-nav__link:hover .auth-nav__contact {
    fill: var(--main-bg-cl);
}

.auth-nav__link:focus,
.auth-nav__link:hover {
    color: var(--main-bg-cl);
    outline: var(--outline-foc);
}
.auth-nav--indent {
    margin-left: auto;
    gap: 30px;
}

}


