// на портфолее контейнер для карточек

.contaent-cards {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.cards-information__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.contaent-cards__link {
    display: block;
    text-decoration: inherit;
    color: inherit;
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:focus {
        outline: var(--outline-foc);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.contaent-cards__list-cards {
    position: relative;
    // outline: 1px solid tomato;
    display: block;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--secondary-bg-cl);

    @media screen and (max-width: 768px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
@media screen and (max-width: 768px) {
    .contaent-cards__list-cards:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .contaent-cards__list-cards {
      width: 354px;
      margin-left: 0;
      margin-right: 0;
    }

    .contaent-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        // align-items: flex-start;
        // --indent: 30px;
        // --item: 2;
        // flex-basis: 370px
        //  calc((100% - var(--indent) * (var(--item) - 1)) / (var(--item)));

        // height: 404px;
    }

    .contaent-cards__link {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .contaent-cards {
        display: flex;
        // row-gap: 30px;
        // column-gap: 30px;
        // flex-wrap: wrap;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        // width: 370px;
    }

    .cards-information__img {
       
    }
    .contaent-cards__list-cards {
      width: 370px;
      margin-left: 0;
      margin-right: 0;
    }
}
